<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenidxs a Mercado Liebre</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="header-content">
            <div class="container">
                <div class="container-logo">
                    <a href="/">
                        <img class="logo" src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Libre">
                    </a>
                </div>
                <div class="search-container">
                    <input type="text" name="search" id="search" placeholder="Buscar productos, marcas">
                    <i class='fas fa-search'></i>
                </div>
            </div>
            <div class="compra">
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </div>
        </div>
        <nav>
            <section class="list-header">
                <ul class="items-list">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
            </section>
            <section class="list-header-user">
                <ul class="item-user">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                    <li><a href="/login"></i>Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#"></i>Mis compras<i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </section>
        </nav>
        <div class="burger-menu">
            <button class="button-menu">
                <i class="fas fa-bars"></i>
            </button>
    </header>
    <section class="home-banner">
        <img src="/img/img-home-banner.jpg" alt="Banner">
    </section>
    <main>
        <form action="resultado.html" method="POST">
            <div class="container-login">
                <div class=login-name>
                    <label for="name-login"></label>
                    <input type="text" id="name-login" name="name-login" placeholder="Nombre de usuario">
                </div>
                <div class="login-password">
                    <label for="password-login"></label>
                    <input type="password" id="passwoard-login" name="password-user" placeholder="Contraseña">
                </div>
                <div class="botton-login">
                    <button type="submit" value="Enviar">Enviar</button>
                </div>
            </div>
        </form>

    </main>
    <footer>
        <div class="container-footer">
            <section class="container-card">
                <div class="card">
                    <i class="fas fa-credit-card"></i>
                </div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="container-gift">
                <div class="gift">
                    <i class="fas fa-gift"></i>
                </div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="container-security">
                <div class="security">
                    <i class="fas fa-user-shield"></i>
                </div>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section class="container-piedepagina">
                <p class="piedepagina">● ● Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </section>
        </div>
    </footer>
</body>

</html>