@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family:'Roboto',sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #ebebeb; 
    width: 100vw;
    height: 100vh;
}

img{ 
    width: 100%; 
}   

/* tamaños tipograficos*/

/* 
cuerpo de texto: 12px
titulares: 24px
precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

 /* Home*/

/* header*/

header { 
    background-color: #EAC926; 
    padding: 10px;
}   

header .header-content{
    align-items: center;

}

header .header-content .container {
    border: 1px red solid;
    width: 90%;
    margin:auto;
    display:flex
}

header .compra{
    text-align: center;
    border: 1px red solid;
}

header .header-content .container-logo{
    width: 50%;
}

header .header-content .search-container{
    width: 50%;
    display: flex;
    align-items: center;
}

header .header-content .search-container input{
    padding: 10px;         
    border: none;           
    border-radius: 5px;    
    display: block; 
    width: 100%;
}


header .header-content .container-logo a img {
    width: 90%;
}

header nav ul{
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header .burger-menu{
    height: 30px;
    width: 30px;    
    text-align: center;
    padding: 6px;
    background-color: #03264C;
    color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 10px;

}

header .burger-menu .button-menu{
    background-color: #03264C;
    color: white;
    border: none
 }

 header nav .list-header{
    display: none;
}

header nav .list-header-user{
    display: none;
}

  /*Main*/

 main{
    width: 90%;
    margin: auto;
 }

  
 main h2{
    color: #666;
    font-size: 24px;                    /*Titulos(Basado en tu última visita/Oferta)*/
    padding: 10px 0 10px 0;
    text-align: center;
}


 main section article {
    margin-bottom: 10px;             
    background-color: white;      
    padding: 15px;                  
    width: 100%;
}


main section article .main-article {
    border-top: 1px solid #ebebeb;  
    padding-top: 5px;                       /*Sección precio-descuento de cada producto*/
    position: relative;
    background-color: white;        
}

main section article .main-article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;                  /*Icono de carrito*/
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: #39b54a
}

main section article .main-article .precio-descuento{
    display:flex
}

.precio{
    font-size: 18px;
    width:30% ;
    padding: 5px;
    align-self: center;
}

.descuento{
    color:green;
    font-size: 16px;
    padding: 5px;
    align-self: center;
    width: 70%;
}

.descripcion{
    font-size: 16px;
    display: none;
    padding: 5px;
    align-self: center;
}

.buscar{
    font-size: 16px;
    text-align: left;
}

 /* End Home*/

 /* Register */

 main form{
    width: 90%;
    margin: 0 auto;
 }

 main form .form-gropu,.profile-user,
 .user-picture, .user-password,
 .confirm-password, 
 .send-bottom,
 .eraser-bottom {
    margin: 30px 0;
 }

 main form .form-gropu input {
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border:none;
}

main form .profile-user .options{
    display: flex;
    margin: 20px;
}

main .interests {
    margin: 20px;
}

main form .profile-user .options input,
.options-seller{
    margin-right: 15px;
}

.user-password input,.confirm-password input{
    border:none;
    border-radius: 5px;
    padding:15px;
    margin-top: 10px;
    background:white;
    width: 100%;
}

.user-picture input{
    margin-top: 30px;
}

.bottoms{
    text-align: center;
}

.bottoms .send-bottom, .send-bottom button{
    border:none;
    border-radius: 5px;
    padding:5px;
    margin-top: 10px;
    background:#03264C;
    color: white;
    width: 100%;
}

.bottoms .eraser-bottom,.eraser-bottom button {
    border:none;
    border-radius: 5px;
    padding:5px;
    margin-top: 10px;
    background: red;
    color: white;
    width: 100%;
}
/* Final register */

/* login */

main .container-login .login-name,
.login-password{
margin: 30px 0;
}

main .container-login .login-name input,
.login-password input {
    padding: 15px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border:none;
}

.main .container-login .botton-login,
.botton-login button {
    border:none;
    border-radius: 5px;
    padding:5px;
    margin-top: 10px;
    background:#03264C;
    color: white;
    width: 100%;
}
/*Final login*/

/*Footer*/

footer{
    background-color: white;
}

footer .container-footer{
    width: 90%;
    margin: auto;
    text-align: center;
 
}

.container-card,.container-gift,.container-security{
    width: 90%;
    margin: auto;
}
 
 /*Iconos de tamaño 2em 
 Margen inferior de separación de 10px*/
 
 .card,.gift,.security{
    color:blue;
    font-size: 2em;
    margin: 20px 0 10px ;
}

.piedepagina{
    margin-top: 20px;
    text-align: left;
}

/*Final footer*/

/*Inicio Media Query*/

@media( min-width: 481px){

header .header-content{
    display: flex;
}


header .header-content .container {
        width: 70%
}


header .burger-menu{
    display:none
}

header .burger-menu .button-menu{
    display:none
}

header nav{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

header nav .list-header{
    display: flex;
}

header nav .list-header ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {

    padding-right: 10px;
}


header nav .list-header-user{
    display: flex;
}

header nav .list-header-user ul{
    display: flex;
}

header .compra{
    display: inline-block;
    width: 30%;
}

main section{
    align-items: baseline;
    justify-content: space-between;
}

/*Sombra contenedor articulos para laptop y tablet*/
main section article {
    box-shadow: 0px 0px 10px rgb(100,100,100) ;
    width: 45%;
    margin: 10px;
}

.descripcion{
    display: flex;
}

main .list-products {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main h2 {
    text-align: left;
    padding-left: 14px;
}

}

/* register*/

.container-register{
    max-width: 770px;
    margin: auto;
}

/* Login*/

.container-login{
    max-width: 770px;
    margin: auto;
}

@media( min-width: 769px){

    main .list-products {
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

/* Final Media Query */